<html lang="en" style="color-scheme: light only;">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" />
    <title>TTP Management Platform</title>
  </head>
  <body
    style="text-align: center;padding:20px;background-color:#FEDF2D;color-scheme:light only;"
  >
    <div class="logo-container" style="display: table; margin:0px;">
      <img src="cid:logo" alt="TTP logo" />
    </div>
    <div class="body-wrapper" style="text-transform: capitalize;">
      {{!  <div class="body-bg" style="width: 100%;height:100%; position:absolute; top:0;left:0;">
        <a href="#">
          <img
            style="width: 100%;height:100%; position:absolute; top:0;left:0;z-index:-1;"
            src="http://drive.google.com/uc?export=view&id=1tAZqc3_0_bJTX4AK5LAfYuZbSpGlVVC8"
            alt="bg"
          /></a>
      </div> }}
      <div class="body-content" style="background-color: #FFF;padding:20px;border-radius:10px;">
        <div
          class="content-wrapper"
          style="background-color: #FFF;height: 400px;display: table;width: 100%;"
        >
          <div
            class="lock-icon-container"
            style=" display: table;margin: 15px auto;"
          >
            <a href="#">
              <img
                src="cid:lock"
                alt="lock icon"
                class="lock"
                width="100px"
                height="100px"
              />
            </a>
          </div>
          <div class="content-container" style="">
            <div class="content">
              <h1 style="text-transform: capitalize; margin:15px 5px;">Welcome
                to TTP Management Platform</h1>
              <p>{{action}}
                We got your back! Click on the button below to set your new
                password.</p>
            </div>
            <div class="button" style="margin:45px 0px;">
              <a
                style="padding:15px 37px; background-color:#111;color:#fff;border-radius:40px;text-transform:uppercase;text-decoration:none;"
                href={{link}}
              > 
                {{body}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>